<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="resources/css/estilos.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/"><i class='bx bxs-car-garage'></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/propietarios">Propietarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/vehiculos">Vehiculos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/parqueadero">Parqueadero</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Historial">Historial de salidas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-12 justify-content-md-center">

                    <center>
                        <div class=" mb-4  my-3 mx-3 mb-3">
                            <center>
                                <h4>Cupos totales</h4>
                            </center>

                        </div>

                        <div id="circulo" class=" col-4 rounded-circle card-header-circulo text-white">
                            <br>
                            <center>
                                <h1>
                                    <%= results[0].cuposTotales%>
                                </h1>
                            </center>

                            <br>
                        </div>
                    </center>
                    <hr>
                    <center>
                        <div class="mb-4  my-3 mx-3 mb-3">
                            <center>
                                <h4>Cupos disponibles</h4>
                            </center>

                        </div>
                        <div id="circulo" class=" col-4 rounded-circle card-header-circulo text-white">
                            <br>
                            <center>
                                <h1>
                                    <%= results[0].cuposDisponibles%>
                                </h1>
                            </center>

                            <br>
                        </div>
                    </center>

                </div>

                <div class="col-9 ">


                    <div class="row">
                        <center>
                            <h1 class="mx-5 mb-5">Vehiculos parqueados</h1>
                        </center>
                        <% results.forEach((parqueados)=> { %>


                            <!--tarjeta 2-->
                            <div class="col-lg-2 col-md-12   my-3 mx-3 ">
                                <div class="card-section border rounded ml-4 mr-4">
                                    <div class="card-header card-header-second rounded ">

                                        <h3 class="card-header-title mb-3 mt-1 text-white">
                                            <center><i class='bx bxs-car-garage'></i>
                                                <%= parqueados.Placa %>
                                            </center>

                                        </h3>

                                    </div>
                                    <div class="card-body text-center">
                                        <h5>Ingreso:</h5>
                                        <%= parqueados.fechaIngreso %>
                                            <br>
                                            <br>
                                            <a href="/edit/<%= parqueados.Placa %>/<%= parqueados.fechaIngreso %>"
                                                class="btn btn-outline-dark"><i
                                                    class='bx bxs-calculator bx-sm'></i></i></a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <!-- <div class="card text-dark bg-info mx-3 mb-3" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">

                                    </h5>
                                    <p class="card-text">

                                    </p>

                                </div>
                            </div> -->
                            <% })%>
                    </div>
                    <!--
                            -->


                </div>
            </div>
        </div>

    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>